*{
    padding: 0px;
    margin:0px;
}

#container {
    position:relative; top:100px; left:100px;
    background:red;
    width:400px; height: 400px;
    border-radius:400px;
}

#boxA {
    background:green;
    width:200px; height: 200px;
    border-radius:200px 0px 0px 0px;
}

#boxB {
    position:relative; left:200px;
    background:blue;
    width:200px; height:200px;
    border-radius:0px 0px 200px 0px;
}
